<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <magelearn_newslettersubscribeatcheckout>
                <enabled>0</enabled>
                <checked>0</checked>
                <label>Subscribe for Newsletter</label>
                <note_enabled>0</note_enabled>
            </magelearn_newslettersubscribeatcheckout>
        </checkout>
    </default>
</config>
